.primary-colour{
    background-color: #535254;
}
.backround-colour{
    background-color: #a7a6a8;
}
.map{
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-basis: 100%;
}
.language{
    width: 50px;
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem;

}

.language .btn{
    cursor: pointer;
    background-size: 50px auto;
    height: 37px;
    width: 53px;
    align-self: center;
    margin: 0.5rem;
}
.tietoja{
    display: block;
    width: calc(70% - 2rem);
    padding: 0;

}
.tietoja h2{
    margin: 0;
}
.MobileFontX-large{
    font-size: 2.0rem;
}
.MobileFontXX-large{
    font-size: 2.2rem;
}
.MobileFontXXX-large{
    font-size: 2.5rem;
}
body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
header h1{
    padding: 1rem;
    width: 45%;
}
header img{
    max-height: 100%;
    width: auto;
    padding: 1rem;
}
.mapdiv{
    width: 100%;
    height: 550px;
}
div{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    padding: 2rem;
}
div img{
    width: 100%;
    max-width: 30%;
    height: auto;
    align-self: center;
}
div p{
    width: calc(70% - 2rem);
    padding: 1rem;
}
div h2{
    width: calc(70% - 2rem);
    height: 2rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto auto auto;
}
div h2 p{
    width: 100%;
    padding: 0;
    font-weight: normal;
}
footer{
    display: flex;
    flex-wrap: wrap;
    border-top-style: solid;
    border-color: #535254;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 600px) {
    .MobileFontX-large {
        font-size: 1.6rem;
    }

    .MobileFontXX-large {
        font-size: 1.8rem;
    }

    .MobileFontXXX-large {
        font-size: 2.1rem;
    }

    header img {
        width: 15%;
        height: 70%;
        max-height: none;
        padding: 1rem;

    }

    .language {
        height: auto;
    }

    header h1 {
        width: 65%;
    }
}
    @media only screen and (min-width: 800px) and (orientation: landscape) {
        .MobileFontX-large {
            font-size: 1rem;
        }

        .MobileFontXX-large {
            font-size: 1.2rem;
        }

        .MobileFontXXX-large {
            font-size: 1.8rem;
        }
        header{
            height: 3%;
        }

        .language {
            height: auto;
        }

        header h1 {
            width: calc(100% - 15% - 5rem - 50px - 10%);
        }
        div img{
            max-width: 20%;
        }


    }
