html {
    scroll-behavior: smooth;
}

.primary-colour {
    background-color: #2c3e50;
}

.backround-colour {
    background-color: white;
}

.map {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-basis: 100%;
}

.hidden {
    display: none;
}

main p img {
    display: block;
    padding: 1rem 0;
}

.info {
    width: 100%;
    padding: .5rem 2rem;
    min-width: 10rem;
}

#about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 80em;
    justify-content: center;
}

main ul li figure {
    padding: 1rem 1rem 0 0;
}

.address_info_list {
    display: flex;
    flex-wrap: wrap;
}

.location_name_list {
    width: 100%;
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.street_address_list {
    width: 100%;
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.MobileFontXXX-large {
    font-size: 1.7rem;
}

.footerFont {
    font-size: 0.65rem;
}

#MarketingPic {
    max-width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding: 0;
    width: auto;
    height: fit-content;
    font-family: 'Orbitron', sans-serif;
    color: #ececec;
    margin: 0;

}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(12.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-12.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes passiveShake {
    0% {
        transform: rotate(0deg);
    }
    95.0% {
        transform: rotate(0deg);
    }
    96.25% {
        transform: rotate(7.5deg);
    }
    97.50% {
        transform: rotate(0deg);
    }
    98.75% {
        transform: rotate(-7.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.quickLinksItem img:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.quickLinksItem img {
    animation-name: passiveShake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#github {
    animation-delay: 5s;
}

#github:hover {
    animation-delay: 0s;
}

.buy_ticket {
    margin: 1rem 0 0.5rem 0;
}

.logoInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.headerLogo {
    width: calc(395px / 2);
    height: calc(142px / 2);
}

header a {
    margin: 1rem;
    text-decoration: none;
}

.quickLinks {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.quickLinks a {
    margin: 0 1rem 0 0;
}

.linkPics {
    width: 50px;
    height: 50px;
}

#event_info {
    width: 40rem;
    margin: 2rem 2rem 2rem 0;
}

#event_info img {
    max-width: 60%;
    height: auto;
}

#naviMap {
    margin: 4rem 0 2rem 0;
}

#aboutDiv {
    display: flex;
    flex-wrap: wrap;
}

h3 a {
    text-decoration: none;
    color: #2c3e50;
}

h3 a:hover {
    text-decoration: underline;
    color: #445668;
}

input {
    font-family: 'Libre Franklin', sans-serif;
}

button {
    font-family: 'Libre Franklin', sans-serif;
}

.search {
    z-index: 2;
    background-color: #ececec;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#search_and_options {
    max-width: 50em;
    flex: 1;
    margin: .5em 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#start_time {
    margin: 0 0 1rem 0;
    padding: 1rem 0 0 0;
    border-top-style: solid;
    border-width: 1px;
    border-color: #bebabf;
}

#search_and_options input {
    border-style: solid;
    border-color: #bebabf;
    border-width: 2px;
}

#search_and_options button {
    border-style: hidden;
}

.logoInfo {
    text-decoration: #ececec;
}

#search_area {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1em 1em .5em 1em;
    height: 3em;
}

#search_text {
    width: 100%;
    height: 2em;
    margin: 0;
    font-size: 1.4em;
    padding: 0 .4em;
    border-style: hidden;
    border-radius: .4em;
}

#search_btn {
    height: 3.7em;
    width: 3.7em;
    padding: 0;
    background-image: url("pics/1.png");
    background-size: 100% 100%;
    flex: none;
    border-left-width: 0;
    border-radius: .8em;
}

#search_btn:hover {
    border-style: solid;
    border-color: #f8fcfc;
    border-width: 1px;
}

#search_options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1em;
    box-sizing: border-box;
    align-items: flex-end;
}

#search_options > div {
    margin: .5em 0;
    display: flex;
}

#search_options p {
    font-size: 1em;
    margin: 0;
}

#search_options input {
    font-size: 1em;
    border-radius: .3em;
    height: 2em;
    margin: .1em;
    padding-left: .1em;
}

#search_options button {
    font-size: 1.2em;
    margin: .1em;
    height: 2em;
    border-radius: .5em;
}

#search_options button:hover {
    background: #375875;
}

#today_btn {
    width: 6em;
}

#tomorrow_btn {
    width: 8em;
}

#from {
    margin: 0 .5em 0 0;
}

#from p, #to p {
    padding-left: .2em;
}


#search_meta {
    width: 100%;
    margin: .8em 1em;
    display: flex;
}

#search_results {
    margin: 0;
}

#navigate a {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    height: fit-content;
    text-align: center;
    color: #fff;
    background-color: #2c3e50;
    text-decoration: none;
}

#navigate a:hover {
    background: #182430;
}

.colourbtn {
    background-color: #22313f;
    color: #ececec;
    border-radius: 0.9rem;
    padding: 0.35rem;
}

.colourbtn:hover {
    cursor: pointer;
}

.colourbtn:focus {
    outline: 0;
}

.mapdiv {
    width: 25rem;
    height: 25rem;
}

#mapFlex {
    display: flex;
    align-items: center;
}

#events_result {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 .5em;
    margin: 0;
}

#events_result li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: solid;
    padding: 0.5rem 0;
}

.textBox_list p {
    width: 100%;
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.textBox_list {
    box-sizing: border-box;
    min-width: 16em;
    margin: 0 .5em 0;
    flex: 1;
}

.summary_list {
    flex: 1;
    min-width: 12em;
    font-size: 1em;
    line-height: 1.2em;
    max-height: 14em;
    overflow: hidden;
    position: relative;
    margin: 0 .5em 1em;
    box-sizing: border-box;
}

.summary_list:before {
    content: "";
    background-image: linear-gradient(transparent, white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
}

.thumbnail {
    width: 24px;
    height: 24px;
    order: -1;
    padding: 0 0.5rem 0 0;
}


#events_result li figure {
    box-sizing: border-box;
    width: 20%;
    max-width: 200px;
    min-width: 7em;
    margin: .5em;
}

#events_result li figure a {
    width: 100%;
}

.event_image_list {
    width: 100%;
    height: auto;
}

.address_info_list {
    width: 100%;
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border-top-style: solid;
    border-color: #bebabf;
    border-top-width: 1px;
    height: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.anchor {
    display: block;
    height: 8rem;
    margin-top: -8rem;
    visibility: hidden;
}

#headerH1 {
    margin: 0;
}

@media (max-width: 725px) {
    #headerH1 {
        display: none;
    }
}


@media (max-width: 40em) {
    .summary_list {
        display: none;
    }
}

@media only screen and (min-width: 610px) {

    .info {
        width: calc(100% / 3 - 4rem);
        padding: 2rem;
    }

    #aboutDiv {
        flex-wrap: nowrap;
    }

}

@media only screen and (min-width: 800px) and (orientation: landscape) {


    header {
        height: 3%;
    }

}
